.layout {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  min-height: 100dvh;
  // background-color: red;
}

.outletWrapper {
  padding: 24px;
  background-color: #fff;
  // max-width: 1280px;
  // min-height: 90dvh;
  // margin: 0 auto;
}
